# Copyright (c) The Libre Solar Project Contributors
# SPDX-License-Identifier: Apache-2.0

if BOARD_MPPT_4820_HC

config BOARD
	default "mppt_4820_hc"

config LIBRE_SOLAR_TYPE_ID
	default 10

endif # BOARD_MPPT_4820_HC
